/PithiaGui/nbproject/private/
/PithiaGui/build/
/SwingTesting/nbproject/private/
/SwingTesting/build/
*vpp.bak*
*lock*
/Pithia/target/
/Pithia/nbproject/
*txt
*.idea
*.lck
UserStories
diagrammata_akolouthias
database
views
*.vbak
Pithia/out
*.jpg
